nav div {
  vertical-align: middle;
}

.message {
  color: red;
  text-align: center;
}

/*FrontPage Styles*/
.homepage-greeting{
  padding-top: 3%;
  padding-left: 15%;
}

.account_table{
  padding: 30px;
  margin: auto;
  width: 65%;
}

/*Login Styles*/
.signin-card-title {
  color: black;
  text-align: center;
  padding: 40px;
}
.card-title {
  text-align: center;
}

.login-card {
  width: 40rem;
  margin: auto;
}

.register-card {
  width: 40rem;
}

.register-form {
  text-align: center;
  background-color: aqua;
  padding: 100;
}

.button-container {
  text-align: center;
}

.alert .alert-danger{
  text-align: center;
}