nav div {
  vertical-align: middle;
}

.message {
  color: red;
  text-align: center;
}

/*Transaction Styles*/
.accounts{
  width: 35%;
  padding-top: 2%;
  padding-left: 20%;
}

.balance{
  padding-top: 2%;
  padding-left: 20%;
}

.balance-amount{
  color: #1cc8e2;
}

.no-transactions{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/*FrontPage Styles*/
.homepage-greeting{
  padding-top: 3%;
  padding-left: 15%;
}

.account_table{
  padding: 30px;
  margin: auto;
  width: 65%;
}

/*Login Styles*/
.signin-card-title {
  color: black;
  text-align: center;
  padding: 40px;
}
.card-title {
  text-align: center;
  padding-bottom: 20px;
}

.login-card {
  width: 40rem;
  margin: auto;
}

.register-card {
  width: 40rem;
}

.register-form {
  text-align: center;
  background-color: aqua;
  padding: 100;
}

.button-container {
  text-align: center;
  padding-top: 5px;
}

.alert .alert-danger{
  text-align: center;
}